extends base

block content
	main 
		each equipe in equipes
			//- article.team(style='background-image: url(img/'+equipe.photo+')')
			//- article.team(style='background-image: url(img/logo.png)')
			article.team
				if user && user.role == 'Admin'	
					div(class="confirmDelete")
						h3 Êtes vous sur de vouloir supprimer l'équipe ?
						div 
							button(class="btn btn-danger deleteEquipe "+equipe.id) Oui
							button(class="btn deleteNo") Non
				div 
					//- display the image of the team from the img folder
					img(src='img/equipes/'+equipe.photo, alt=equipe.wording)

					aside 
						div
							i(class="bi bi-people-fill")
								h3.wording=equipe.wording 
							
							table(class='tableWithoutBorder')
								if equipe.comment
									tr
										td
											i(class="bi bi-chat-dots")
										td 
											p.comment=equipe.comment
								if equipe.trainer	
									tr
										td
											i(class="bi bi-person-badge")
										td
											p.trainer=equipe.trainer
								if equipe.slot
									tr
										td
											i(class="bi bi-calendar-range")
										td
											p.slot=equipe.slot

						a.btn(href="/matchs?team='"+equipe.wording+"'")
							i(class="bi bi-calendar-event")
								p Voir les matchs
				if user && user.role == 'Admin'	
					div(class="adminEquipeUD")
						//- add a button to update the team with the id of the team as a class with the classes : btn and btn-warning
						button(class="btn btn-edit updateEquipe "+equipe.id) 
							i(class="bi bi-pencil-square")
								p Modifier
						button(class="btn btn-danger askDeleteEquipe") 
							i(class="bi bi-trash3")
								p Supprimer
		if user && user.role == 'Admin'	|| user && user.role == 'User'
			//- add a button to create a new team with the classes : btn and btn-success
			.wrapper.adminEquipeC
				.button
					.icon
						p +
					span Créer une équipe

					
	if user && user.role == 'Admin'	|| user && user.role == 'User'
		.modal.hidden
		.modal-content.createEquipe.hidden
			.modal-header
				h2 Créer une équipe
			.modal-body
				form
					.form-group
						label(for="wording") Nom de l'équipe
						input(type="text" name="wording" id="wording" required)
					.form-group
						label(for="trainer") Entraîneur
						input(type="text" name="trainer" id="trainer" required)
					.form-group
						label(for="slot") Horaires
						input(type="text" name="slot" id="slot" required)
					.form-group
						label(for="comment") Commentaire
						input(type="text" name="comment" id="comment" required)
					//- .form-group
					//- 	label(for="photo") Photo
					//- 	input(type="file" accept="image/*" name="photo" id="photo" required)
					.form-group
						button(type="submit" class="btn btn-success") Créer
			.modal-footer
				button(type="button" class="btn btn-danger close") Fermer

		.modal-content.updateEquipeForm.hidden
			.modal-header
				h2 Modifier une équipe
			.modal-body
				form
					.form-group
						label(for="wording") Nom de l'équipe
						input(type="text" name="wording" id="wording")
					.form-group
						label(for="trainer") Entraîneur
						input(type="text" name="trainer" id="trainer")
					.form-group
						label(for="slot") Horaires
						input(type="text" name="slot" id="slot")
					.form-group
						label(for="comment") Commentaire
						input(type="text" name="comment" id="comment")
					.form-group
						label(for="photo") Photo
						input(type="file" accept="image/*" name="photo" id="photo" required)
					.form-group
						button(type="submit" class="btn btn-success") Modifier
			.modal-footer
				button(type="button" class="btn btn-danger close") Fermer
