extends base


block content
	form(id="searchFormMatch" method="POST")
		p Barre de recherche:
			input(type="text" name="search" id="searchInformation" placeholder="Entrez le nom de l'équipe")
		input(type="submit" id='searchBtn')
	 
	select(id="searchMatchBySelect" for="change")
		option(value='0') -- Select --
		each match in matchs
			option(value=match.againstTeam #{variable.select}) #{match.againstTeam}
	
	section.mainSection
		each match in matchs
			section.matchSection
				section.matchInformation
					section.headerInformationMatch
						h1=match.gymnasium +" : "

					section.bodyInformationMatch
						article.firstEquipeInformation
							h1=match.localTeam

						p='VS'

						article.secondEquipeInformation
							h1=match.againstTeam