extends base


block content
	

	.navbar-calendar 
		button(class="button is-rounded today") Today
		button(class="button is-rounded prev")
			img(alt="prev" src="./images/ic-arrow-line-left.png" srcset="./images/ic-arrow-line-left@2x.png 2x, ./images/ic-arrow-line-left@3x.png 3x")
		button(class="button is-rounded next")
			img(alt="next" src="./images/ic-arrow-line-right.png" srcset="./images/ic-arrow-line-right@2x.png 2x, ./images/ic-arrow-line-right@3x.png 3x")
		span.navbar--range

	
	div(id="calendar" style="height: 800px; overflow: auto;")

	
	section.mainMatchPage
		section.filterMatchPage
			form(id="searchFormMatch" method="POST")
				p Barre de recherche:
					input(type="text" name="search" id="searchInformation" placeholder="Entrez le nom de l'équipe")
				input.btn(type="submit" id='searchBtn')
		
			select(id="searchMatchBySelect" for="change")
				option(value='0') -- Select --
				each equipe in equipes
					option(value=equipe.wording) #{equipe.wording}
		
		section.mainSection
			each match in matchs
				section.matchSection
					section.matchInformation
						section.headerInformationMatch
							h1=match.gymnasium +" : "
						section.bodyInformationMatch
							article.firstEquipeInformation
								h1="Equipe locale"
								img(src="img/logo.png", alt="photo")
								h1=match.localTeam

							p='VS'

							article.secondEquipeInformation
								h1="Equipe adverse"
								img(src="img/logo.png", alt="photo")
								h1=match.againstTeam