extends base


block content
	

	.navbar-calendar 
		button(class="button is-rounded today") Today
		button(class="button is-rounded prev")
			img(alt="prev" src="./images/ic-arrow-line-left.png" srcset="./images/ic-arrow-line-left@2x.png 2x, ./images/ic-arrow-line-left@3x.png 3x")
		button(class="button is-rounded next")
			img(alt="next" src="./images/ic-arrow-line-right.png" srcset="./images/ic-arrow-line-right@2x.png 2x, ./images/ic-arrow-line-right@3x.png 3x")
		span.navbar--range

	
	div(id="calendar" style="height: 800px; overflow: auto;")

	
	section.mainMatchPage
		section.filterMatchPage
			form(id="searchFormMatch" method="POST")
				p Barre de recherche:
					input(type="text" name="search" id="searchInformation" placeholder="Entrez le nom de l'équipe")
				input.btn(type="submit" id='searchBtn')
		
			select(id="searchMatchBySelect" for="change")
				option(value='0') -- Select --
				each equipe in equipes
					option(value=equipe.wording) #{equipe.wording}
		
		section.mainSection
			each match in matchs
				section.matchSection
					section.matchInformation
						section.headerInformationMatch
							h1=match.gymnasium +" : "
						section.bodyInformationMatch
							article.firstEquipeInformation
								h1="Equipe locale"
								img(src="img/logo.png", alt="photo")
								h1=match.localTeam

							p='VS'

							article.secondEquipeInformation
								h1="Equipe adverse"
								img(src="img/logo.png", alt="photo")
								h1=match.againstTeam
				if user && user.role == 'Admin'
					div(class="adminEquipeUD")
						//- add a button to update the team with the id of the team as a class with the classes : btn and btn-warning
						button(class="btn btn-edit updateEquipe " + equipe.id)
							i(class="bi bi-pencil-square")
								p Modifier
						button(class="btn btn-danger askDeleteEquipe")
							i(class="bi bi-trash3")
								p Supprimer
			if user && user.role == 'Admin' || user && user.role == 'User'
				//- add a button to create a new team with the classes : btn and btn-success
				.wrapper.adminEquipeC
					.button
						.icon
							p +
						span Créer une équipe