extends base


block content

	.bandeauDefilant
		section.mainSection

	.calendarDisplay
		aside.options-team
			.navbar-calendar 
				.filter
					form(id="searchFormMatch" method="POST")
						p Recherche
						input(type="text" name="search" id="searchInformation" placeholder="Entrez le nom de l'équipe")
						input.btn(type="submit" id='searchBtn')

					select(id="searchMatchBySelect" for="change")
						option(value='0') -- Select --
						each equipe in equipes
							option(value=equipe.wording) #{equipe.wording}

		if user && user.role == 'Admin' || user && user.role == 'User'
			section.matchList.admin
		else 
			section.matchList

		if user && user.role == 'Admin'	|| user && user.role == 'User'
			.wrapper.adminMatchC
				.button
					.icon
						p +
					span Créer un match


	if user && user.role == 'Admin'	|| user && user.role == 'User'
		.modal.hidden
		.modal-content.createMatch.hidden
			.modal-header
				h2 Créer un match
			.modal-body
				form
					.form-group
						label(for="wording") Equipe locale
						select(id="localTeam" for="change")
							option(value='0') -- Select --
							each equipe in equipes
								option(value=equipe.wording) #{equipe.wording}
					.form-group
						label(for="visitorTeam") Equipe adverse
						input(type="text" name="visitorTeam" id="visitorTeam" placeholder="Vernoux en vivarais" required)
					.form-group
						label(for="location") Emplacement
						input(type="text" name="location" id="location" placeholder="Gymnase municipal de vernoux" required)
					.form-group
						label(for="date") Commentaire
						input(type="datetime-local" name="date" id="date" required)
					

					.form-group
						button(type="submit" class="btn btn-success") Créer
			.modal-footer
				button(type="button" class="btn btn-danger close") Fermer

		.modal-content.updateMatchForm.hidden
			.modal-header
				h2 Modifier une équipe
			.modal-body
				form
					.form-group
						label(for="wording") Equipe locale
						select(id="localTeam" for="change")
							option(value='0') -- Select --
							each equipe in equipes
								option(value=equipe.wording) #{equipe.wording}
					.form-group
						label(for="visitorTeam") Equipe adverse
						input(type="text" name="visitorTeam" id="visitorTeam" placeholder="Vernoux en vivarais" required)
					.form-group
						label(for="location") Emplacement
						input(type="text" name="location" id="location" placeholder="Gymnase municipal de vernoux" required)
					.form-group
						label(for="date") Commentaire
						input(type="datetime-local" name="date" id="date")
					

					.form-group
						button(type="submit" class="btn btn-success") Modifier
			.modal-footer
				button(type="button" class="btn btn-danger close") Fermer
